<%= javascript_include_tag "ohsnap", "data-turbolinks-track" => true  %>
<div class="myBox">
  <div data-role="content">
    <div id="ohsnap"></div>
  </div>
  <div class="containmsg">
    <div>
      <form name="sendprivatemsg" action="#" method="post">
        <div style="display:flex;"><label for="tofield">To &nbsp;</label><a href="#">Kenny Geiler</a></div>
        <div class="break"></div>
        <label for="mymsg">Message</label>
        <textarea name="mymsg"></textarea>
        <div><%= submit_tag "Send Message", class: 'btn btn-primary sendbtn'%></div>
              </form>
              </div>
              </div>
              </div>
              <script>
                  var index=1;
                  $("h1.header-title").html("Messages");
                  $(window).load(function() {
                      if(index==1) {
                          ohSnap('Hi, Hey!  How are you?', 'green');
                          ohSnap('Fine. Thank you. How are you?', 'green');
                          ohSnap('I have completed Project.', 'blue');
                          ohSnap('Hey Bro, Are you there?', 'green');
                          ohSnap('Hi, Hey!  How are you?', 'blue');
                          ohSnap('How are you?', 'green');
                          ohSnap('Fine. Thank you. How are you?', 'blue');
                          ohSnap(' I cannot process your card...', 'green');
                          ohSnap('I have completed Project.', 'blue');
                      }
                      index++;
                  });
              </script>