<div id="startup_new">
  <h1 class="intro">The</h1>
  <h1 class="intro">Club</h1>
  <h1 class="intro">Is</h1>
  <h1 id="goingup">GoingUp</h1>
    <div id="user_nav">
        <div id="bottombanner">
          <% if current_user %>
              <a href="<%= signout_path %>" id="sign_out"><img src="<%= asset_path('f.png') %>" /></a>
          <% else %>
              <a href="/auth/facebook" id="sign_in"><img src="<%= asset_path('f.png') %>" /></a>
          <% end %>
        </div>
    </div>
</div>
<script>
    $("h1.header-title").html("GOINGUP");
</script>